linux:
  host: '192.168.56.1'
  port: 8000

windows:
  vm-name: 'Windows 10 LTSC'
  host: '192.168.56.3'
  port: 8000

startup-app:
  - 'wechat'

# capture hotkey in windows, and run command in linux
capture-hotkey:
  - hotkey:
      pynput: '<65470>' # '<f1>' not works, use this instead. https://github.com/moses-palmer/pynput/issues/499
      keyboard: 'f1'
    command: 'flameshot gui'
