linux:
  host: '192.168.56.1'
  port: 8000

windows:
  name: 'Windows 10 LTSC'
  host: '192.168.56.101'
  port: 8000

startup-app:
  - 'wechat'
  - 'tim'

# capture hotkey in windows, and run command in linux
# key codes from https://learn.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes
capture-hotkey:
  - hotkey: 'f1'
    keycodes:
      - 0x70
    command: 'flameshot gui'
  - hotkey: 'ctrl+space'
    keycodes:
      - 0xA2
      - 0x20
    command: 'ulauncher-toggle'
